<% if comment.reply_to.nil? %>
    <% comment_error_id = comment.id.nil? ? "comment-errors" : "comment-#{comment.id}-errors" %>
<% else %>
    <% comment_error_id = "comment-#{comment.reply_to}-reply-errors" %>    
<% end %>
<% comment_id = comment.reply_to.nil? ? "slam-#{slam.id}-comment" : "comment-#{comment.reply_to}-reply" %>
<div id='<%= comment_error_id  %>'>
    <%= render 'shared/errors', :obj => comment %>
</div>
<%= form_for [ slam.book, slam, comment ], :html => { :class => 'form-horizontal', :id => "#{comment_id}-form" }, :remote => remote do |f| %>
    <% unless comment.reply_to.nil? %>
        <%= f.hidden_field :reply_to, :value => comment.reply_to %>
    <% end %>
    <div class="form-group">
        <div class="col-sm-12">
            <%= f.text_area :comment, :rows => 1, :class => 'form-control', :placeholder => 'Type your comment here', :id => comment_id %>        
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <%= f.submit :class => 'btn btn-xs btn-success' %>
        </div>
    </div>
<% end %>