<% if slam.book.user == current_user || slam.privacy == 'PUBLIC' || slam.user == current_user %>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <% if slam.privacy == 'PUBLIC' %>
                <% @privacy = 'publicly' %>
            <% elsif slam.privacy == 'PRIVATE' %>
                <% @privacy = 'privately' %>            
            <% end %>
            <h3><%= slam.user == current_user ? "You" : slam.user.full_name %> Said <%= slam.book.user == current_user || slam.user == current_user ? @privacy : "" %> </h3>
            <%= link_to slam.book.user == current_user ? "Your" : "#{slam.book.user.full_name}'s", user_path(slam.book.user), :class => 'normal-link' %> slambook <%= link_to slam.book.title, user_book_path(slam.book.user, slam.book), :class => 'normal-link' %>
            <% if slam.user == current_user %>
                <% if slam.status == 'READ' %>
                    <i class="fa fa-check"></i> Read
                <% end %>
            <% end %>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <% slam.answers.each do | answer | %>
                        <h4><strong><i><%= answer.question %></i></strong></h4>
                        <p><%= answer.answer %></p>            
                        <% if slam.status == 'NOT_READ' && slam.book.user == current_user %>
                            <% slam.status = 'READ' %>
                            <% slam.save %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-right time"><%= time_ago_in_words(slam.created_at) %> ago</span>  
                    <% if slam.user == current_user %>
                        <%= link_to 'Edit', edit_book_slam_path(slam.book, slam), :class => 'btn btn-xs btn-warning' %>
                    <% end %>
                    <% if slam.user == current_user || slam.book.user == current_user %>
                        <%= link_to 'Delete', book_slam_path(slam.book, slam), :class => 'btn btn-xs btn-danger', :data => { :method => 'delete', :confirm => 'Are you sure to delete this slam ?' } %>
                    <% end %>         
                </div>
            </div>
        </div>
    </div>
<% end %>