<div class="row">
    <div class="col-sm-12">
        <div class="user-banner">
            <div class="user-cover">
                <div class="user-avatar">
                    <%= @user.decorate.avatar_image(150, 'current-avatar') %>                                     
                </div>
                <div class="user-details">
                    <div class="user-name">
                        <h4><strong><%= @user.full_name %></strong></h4>
                    </div>
                    <div class="user-info">
                        <%= pluralize(Following.where(:follower_id => @user).count,'Following') %> | <%= pluralize(@user.followers.count,'Follower') %> | <%= pluralize(@user.books.count,'SlamBook') %> | <%= pluralize(@user.slams.count,'Slam') %>
                    </div>
                    <%= @user.decorate.follow_link %>
                </div>
            </div>
            <div class="col-sm-3 user-link">
                <%= link_to 'My SlamBooks', user_books_path(@user) %>
                <div class="badge"><%= @user.books.count %></div>
            </div>
            <div class="col-sm-3 user-link">
                <%= link_to 'My Slams', user_slams_path(@user) %>  
                <div class="badge"><%= @user.slams.count %></div>                  
            </div>
            <div class="col-sm-3 user-link">
                <%= link_to 'Followings', user_following_path(@user) %> 
                <div class="badge"><%= @user.following_users.count %></div>                                           
            </div>
            <div class="col-sm-3 user-link">
                <%= link_to 'Followers', user_followers_path(@user) %> 
                <div class="badge"><%= @user.followers.count %></div>                                           
            </div>
        </div>
    </div>
</div>