<div class="row">
    <div class="col-sm-12">
        <div class="user-banner">
            <div class="user-cover">
                <div class="user-avatar">
                    <%= @user.decorate.avatar_image(150, 'current-avatar') %>                                     
                </div>
                <div class="user-details">
                    <div class="user-name">
                        <h4><strong><%= @user.full_name %></strong></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 user-link">
                <%= link_to 'My SlamBooks', user_books_path(@user) %>
            </div>
            <div class="col-sm-4 user-link">
                <%= link_to 'My Slams', user_slams_path(@user) %>                    
            </div>
            <div class="col-sm-4 user-link">
                <%= link_to 'My Slamies', user_following_path(@user) %>                    
            </div>
        </div>
    </div>
</div>