<!DOCTYPE html>
<html>
<head>
  <title>theSlamBooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="fb:app_id"         content="1898283013788070" />  
  <meta property="og:url"           content="<%= request.url %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="theSlamBooks" />
  <meta property="og:image"         content="<%= image_url('logo.jpg') %>" />
  <meta property="og:description"   content="Create online slambooks and slam friends to bring your school days to life in future" />
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-body">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to home_path, :class=>'navbar-brand' do %>
          <i class="fa fa-book"></i> theSlamBooks
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="navbar-body">
        <% if user_signed_in? %>
          <%= form_tag user_search_path, :method => 'GET', :class => 'navbar-form navbar-left' do %>
            <div class="form-group">
              <div class="input-group">
                <%= text_field_tag :query, '', :class => 'form-control', :placeholder => 'Search SlamBook' %>
                <div class="input-group-btn">
                  <%= submit_tag 'Search', :class => 'btn btn-success' %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <ul class="navbar-nav nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to news_feeds_path do %>
                <i class="fa fa-list-ul"></i> Wall
              <% end %>
            </li>
            <li>
              <%= link_to new_book_path do %>
                <i class="fa fa-plus"></i> New SlamBook
              <% end %>
            </li>
            <li>
              <%= link_to books_path do %>
                <i class="fa fa-book"></i> My SlamBooks
              <% end %>
            </li>
            <li>
              <%= link_to user_slams_path(current_user) do %>
                <i class="fa fa-pencil"></i> My Slams
              <% end %>
            </li>
            <li> 
              <%= link_to user_path(current_user) do %>
                <%= current_user.decorate.avatar_image(22, 'current-avatar-thumbnail') %> <%= current_user.first_name %>
              <% end %>
            </li>
            <li>
              <%= link_to "/signout" do %>
                <i class="fa fa-key"></i> Logout              
              <% end %>
            </li>
          <% else %>
             <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>          
             <li><a href="#about"><i class="fa fa-child"></i> About</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% if controller.controller_name == 'home' %>
    <div class="container_fluid">
      <%= yield %>  
    </div>
  <% else %>
    <div class="container">
      <% if controller.controller_name == 'users' %>
        <% unless controller.action_name == 'search' %>
          <%= render 'user_banner' %>
        <% end %>
      <% end %>    
      <%= render 'shared/flash_message' %>        
      <%= yield %>  
    </div>
  <% end %>
</body>
</html>
